.container_login_institucion {
    background-color: rgb(6, 6, 128);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container_login___ {
    background-color: rgb(253, 252, 252);
    border-radius: 1rem;
    display: flex;
    padding: 4rem;
    flex-direction: column;
    justify-content: space-between;
    width: 50rem;
    height: 30rem;
}

.item {
    width: 100%;
}

#ruc {
    width: 100%;
}

#password {
    width: 100%;
}

#registrarse {
    margin: 80%;
}
