.container_notFound {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(212, 212, 211);
}

.logo_error {
    width: 400px;
    border-radius: 50%;
    border-color: rgb(250, 250, 246);
    border-style: solid;
}

.text_error {
    font-size: 12rem;
}
