.container_ {
    background-color: rgb(6, 6, 128);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_ .container_opcion {
    background-color: rgb(253, 252, 252);
    border-radius: 1rem;
    display: flex;
    padding: 4rem;
    flex-direction: column;
    justify-content: space-between;
    width: 60rem;
    height: 40rem;
    text-align: center;
    position: relative;
}
.container_header {
    margin-top: -10rem;
}

.opcion {
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(212, 212, 211);
    border-radius: 1rem;
    padding: 1rem;
}

.opcion:hover {
    background-color: #f8ed13;
}
.container_item_opcion_ {
    font-size: 2rem;
    color: rgb(139, 139, 139);
    font-weight: 500;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
