.container_register_ {
    background-color: rgb(6, 6, 128);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: auto;
}

.container_register__ {
    background-color: rgb(253, 252, 252);
    border-radius: 1rem;
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    width: 60rem;
    height: 72rem;
}

.container_register_header {
    margin-top: 3rem;
}
.container_register_items {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    width: 100%;
}
